.HEADERS{
width:100%; background-color:aqua; padding: 10px; height:120px;
}
#i_logo{


 margin:10px; width:100px; height:100px;
 float: left;
}
#header_1{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  font-style: oblique;
  color: purple;
}
